.cart {
    &-cards {
        padding: 40px 0;
    }
    &-card {
        display: flex;
        box-shadow: $shadow;
        max-width: 734px;
        position: relative;
        margin-bottom: 30px;
        &__close {
            position: absolute;
            right: 12px;
            top: 17px;
            width: 10px;
            height: 10px;
            cursor: pointer;
        }
        &__img {
            width: inherit;
            height: 100%;
            display: block;
            &-wrap {
                width: 143px;
            }
        }
        &__inner {
            padding: 14px 17px 0;
        }
        &__head {
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 25px;
        }
        &__title {
            color: #222;
            @include fonts($f_size_16, $l_height_19);
            font-weight: 700;
        }
    }
    &__item {
        @include fonts($f_size_14, $l_height_17);
        text-transform: capitalize;
        color: #575757;
        margin-bottom: 5px;
    }
    &__price {
        color: $main-color;
    }
    &__spec {
        color: #6F6E6E;
    }
    &__quantity {
            width: 65px;
            margin-left: 10px;
        &-wrap {
            display: flex;
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-btn {
        background: transparent;
        border: 1px solid #A4A4A4;
        padding: 9px 18px;
        @include fonts($f_size_12, $l_height_14);
        color: #575757;
        cursor: pointer;
        transition: $transition-speed;
        &:hover {
            background-color: #000;
            color: #fff;
            transform: scale(.98);
        }
    }
    &-form {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        &__heading {
            text-transform: uppercase;
            color: #222;
            @include fonts($f_size_16, $l_height_19);
            font-weight: 300;
            margin-bottom: 20px;
        }
        &__address {
            display: flex;
            flex-direction: column;
        }
        &__input {
            font-family: 'Lato', sans-serif;
            border: 1px solid #A4A4A4;
            @include fonts($f_size_16, $l_height_19);
            padding: 13px 16px 16px;
            font-weight: 300;
            margin-bottom: 20px;
            &::placeholder {
                font-family: 'Lato', sans-serif;
                @include fonts($f_size_16, $l_height_19);
                font-weight: 300;
                color: #B1B1B1;
            }
        }
        &__btn {
            align-self: flex-start;
            background: transparent;
            border: 1px solid #A4A4A4;
            padding: 11px 20px;
            cursor: pointer;
            transition: $transition-speed;
            &:hover {
                color: #fff;
                background: #000;
                transform: scale(.98);
            }
        }
    }
    &-check {
        background: #F5F3F3;
        margin-top: 50px;
        padding: 40px 42px;
        text-align: right;
        text-transform: uppercase;
        color: #4A4A4A;
        font-weight: 700;
        &__total {
            @include fonts($f_size_11, $l_height_13);
            margin-bottom: 12px;
            &-price {
                margin-left: 25px;
            }
        }
        &__grand {
            font-weight: 700;
            color: #222;
            @include fonts($f_size_16, $l_height_19);
            margin-bottom: 20px;
            &-price {
                color: $main-color;
                margin-left: 25px;
            }
        }
        &__hr {
            min-width: 275px;
            height: 1px;
            background: #E2E2E2;
            margin-bottom: 20px;
        }
        &__btn {
            text-transform: uppercase;
            background: $main-color;
            color: #fff;
            padding: 16px 42px;
            border: 1px solid transparent;
            cursor: pointer;
            transition: $transition-speed;
            &:hover {
                color: $main-color;
                border: 1px solid $main-color;
                background: #fff;
            }
        }
    }
}


@media (min-width: 768px) {
    .cart {
        &-card {
            &__img {
                &-wrap {
                    width: 262px;
                }
            }
            &__close {
                width: 18px;
                height: 18px;
            }
            &__inner {
                padding: 22px 0 60px 30px;
            }
            &__title {
                @include fonts($f_size_24, $l_height_29);
                font-weight: 400;
            }
            &__type {
                @include fonts($f_size_24, $l_height_29);
                font-weight: 400;
            }
        }
        &__item {
            @include fonts($f_size_22, $l_height_26);
        }
        &-buttons {
            justify-content: space-evenly;
        }
        &-btn {
            text-transform: uppercase;
            padding: 17px 40px;
            @include fonts($f_size_14, $l_height_17);
        }
        &-form {
            flex-direction: row;
            justify-content: space-between;
            &__address {
                width: 350px;
            }
        }
        &-check {
            margin-top: 40px;
            align-self: flex-start;
            &__total {
                font-weight: 400;
            }
            &__grand {
                font-weight: 300;
                &-price {
                    font-weight: 700;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .cart {
        &-wrap {
            width: 59%;
        }
        &-card {
            max-width: 652px;
        }
        &-md {
            &-wrap {
                display: flex;
                justify-content: space-between;
            }
        }
        &-form {
            flex-direction: column;
        }
    }
}