*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: $f_size_14;
    transform-style: preserve-3d;
}
main {
    flex-grow: 1;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
}
::-webkit-details-marker {display: none;}
summary {
    display: block;
    &:focus {
      outline: none;
    }
}
details[open] summary ~ * {
    animation: fadeIn  $transition-speed ease-in;
    -webkit-animation: fadeIn  $transition-speed ease-in;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 8px;
    @media (min-width: 768px) {
        padding: 0 15px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}