/* Width */
$header-height: 74px;

/* Colors */
$main-color: #F16D7F;
$bg-header: #222222;
$bg-promo: #F1E4E6;
$offer-overlay: rgba(33, 22, 22, 0.7);
$card-overlay: rgba(58, 56, 56, 0.86);
$offer-overlay-hover: rgba(33, 22, 22, 0.9);
$bg-card: #F8F8F8;
$bg-feature: #222224;
$feature-text: #FBFBFB;
$footer-text: #FBFBFB;
$bg-footer: #222224;
$menu-item: #6F6E6E;

$shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
/* Fonts settings */
$f_size_13: 13px;
$f_size_14: 14px;
$f_size_16: 16px;
$f_size_18: 18px;
$f_size_19: 19px;
$f_size_20: 20px;
$f_size_24: 24px;
$f_size_30: 30px;
$f_size_32: 32px;
$f_size_38: 38px;
$f_size_44: 44px;
$f_size_48: 48px;

$l_height_16: 16px;
$l_height_17: 17px;
$l_height_19: 19px;
$l_height_22: 22px;
$l_height_24: 24px;
$l_height_29: 29px;
$l_height_36: 36px;
$l_height_38: 38px;
$l_height_46: 46px;
$l_height_53: 53px;
$l_height_58: 58px;


/* Transitions */
$transition-speed: .3s;