@import 'vars';
@import 'mixins';
@import 'main';
@import 'blocks/btn';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/offer';
@import 'blocks/main-cards';
@import 'blocks/cards';
@import 'blocks/feature';
@import 'blocks/feedback';
@import 'blocks/footer';
